@import "src/variables";

.closeImage img {
  position: absolute;
  right: 15px;
}

.burgerMenu {
  position: relative;
  background-color: $color-gray-disabled;
}
.burgerImage img {
  background-color: $color-gray-disabled;
}
@media (max-width: 800px) {
}
